.App {
  text-align: center;
  justify-content: center;
}

.display{
  border: 1px black solid;
  height:100vh;
  width: 100vw;
  background-image: url(../src/Components/LeaguePics/League\ background.jpg);
  background-repeat: no-repeat;
  background-size:auto 100vh;

}

.formBox{
display: flex;
flex-direction: column;
/* border: 1px solid red; */
height: 80%;

}

.justInCase{
  background-color: rgba(197, 195, 195, 0.87);
  width:50%;
  margin: 0 auto;
  
}

.justInCase>ul{
  list-style: none;
}


.container{
  width:50%;
  height: 65%;
  margin: 0 auto;
  /* border: 1px solid green */
  
}

.champCard{
  background-color: rgba(197, 195, 195, 0.87);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.champImg{
  height: 20%;
  width:20%;
  border: solid 1px;
}

.catchErr{
  height: 50%;
  width:100%;
  background-color: rgba(197, 195, 195, 0.87);
  
}